import React from 'react';
import { View, Button, Text, StyleSheet, FlatList, TouchableOpacity } from 'react-native';
import { useNavigation } from '@react-navigation/native';

const Cards = () => {
  const [myCards, setMyCards] = React.useState([]);
  const [currentCardIndex, setCurrentCardIndex] = React.useState(0);
  const username = 'user'; // localStorage.getItem('username');

  const fetchCards = async () => {
    try {
      const response = await fetch(`http://localhost:5000/card?username=${username}`);
      const data = await response.json();
      if (response.ok && data.myCards) {
        setMyCards(data.myCards);
      } else {
        console.error('Kartlar alınamadı.');
      }
    } catch (error) {
      console.error('Fetch error:', error);
    }
  };

  React.useEffect(() => {
    fetchCards();
  }, []);

  const currentCard = myCards[currentCardIndex];

  const handleNext = () => {
    if (currentCardIndex < myCards.length - 1) {
      setCurrentCardIndex(currentCardIndex + 1);
    }
  };

  const handlePrevious = () => {
    if (currentCardIndex > 0) {
      setCurrentCardIndex(currentCardIndex - 1);
    }
  };

  return (
    <View style={styles.container}>
      {myCards.length > 0 ? (
        <View style={styles.cardContainer}>
          <Text style={styles.cardText}>{currentCard?.textarea1}</Text>
          <Text style={styles.cardText}>{currentCard?.textarea2}</Text>
          <View style={styles.navigationButtons}>
            <Button title="Previous" onPress={handlePrevious} disabled={currentCardIndex === 0} />
            <Button title="Next" onPress={handleNext} disabled={currentCardIndex === myCards.length - 1} />
          </View>
        </View>
      ) : (
        <Text>Loading cards...</Text>
      )}
    </View>
  );
};

const styles = StyleSheet.create({
  container: {
    flex: 1,
    justifyContent: 'center',
    alignItems: 'center',
    backgroundColor: '#f8f9fa',
    padding: 16,
  },
  cardContainer: {
    backgroundColor: '#fff',
    padding: 20,
    borderRadius: 8,
    elevation: 2,
    shadowColor: '#000',
    shadowOffset: { width: 0, height: 2 },
    shadowOpacity: 0.2,
    shadowRadius: 8,
    marginBottom: 20,
  },
  cardText: {
    fontSize: 16,
    marginBottom: 8,
  },
  navigationButtons: {
    flexDirection: 'row',
    justifyContent: 'space-between',
    marginTop: 16,
  },
});

export default Cards;
